{#{% load static %}#}
{% extends 'base.html' %}
{% load static %}

{% block main_section %}
    <section>
        <div class="container_prods">
            <div class="item">item1</div>
            <div class="item">item1</div>
            <div class="item">item1</div>
            <div class="item">item1</div>
        </div>
    </section>
{% endblock %}

{% block search_form %}
    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success text-white" type="submit">Поиск</button>
                    </form>
{% endblock %}